<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="RetryFailedTestCasesSuite" verbose="1">
	<listeners>
		<listener class-name="com.test.RetryTransformer" />
	</listeners>
	<test name="RetryMultipleFailedTestCases">
		<classes>
			<class name="com.test.RetryLogic" />
		</classes>
	</test>
</suite> 
